body {
    background-color: #001632;
}

h1 {
    color: #7f8a98;
}

#app_main form {
    border-radius: 0.5rem;
}

.result_password {
    background-color: #cff4fc;
    color: #001632;
    border-radius: 0.5rem;
}